.header {
    grid-area: h;
    background-color: #4d6da9;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.header img {
    width: 60px;
}

.logo {
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}

.loginMenu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.loginBlock {
    float: right;
    background-color: rgb(92, 156, 240);
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    align-self: center;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}
