.nav {
    grid-area: n;
    background-color: #ebedf4;
    margin: 15px;
}

.item {
    padding: 10px 0 0 10px;
}

.nav :last-child {
    padding-bottom: 10px;
}

.item a {
    color: rgb(92, 156, 240);
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(0, 110, 255);
}
