.nav {
    grid-area: n;
    background-color: #ebedf4;
    margin: 15px;
}

.item {
    padding: 10px 10px 0 10px;
}

.nav :last-child {
    padding-bottom: 10px;
}

.item a {
    color: rgb(92, 156, 240);
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(0, 110, 255);
}

.friendsBlock {
    margin-top: 40px;
}

.shortList {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shortList .friendName {
    text-align: center;
    text-transform: capitalize;
    word-wrap: break-word;
    width: 70px;
}

.avaIcon {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avaIcon img {
    width: 50px;
}

.friendsLink {
    font-size: 24px;
}

.friendLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}