.nav {
    grid-area: n;
    background-color: #eb8a3e;
    padding: 15px;
}

.item {
    margin: 10px 0;
}

.item:first-child {
    margin-top: 0;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: #785a46;
}
