.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialog {
    margin: 10px 0;
}

.dialog a{
    color: rgb(92, 156, 240);
    text-decoration: none;
}

.dialog .active {
    color: rgb(0, 110, 255);
}

.messages {
    padding: 10px;
}

.message {
    margin: 10px 0;
}

.message:first-child {
    margin-top: 0;
}