.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialog {
    margin: 10px 0;
}

.dialog a{
    color: rgb(92, 156, 240);
    text-decoration: none;
}

.dialog .active {
    color: rgb(0, 110, 255);
}

.messages {
    padding: 10px;
}

.message {
    margin: 10px 0;

}

.message:first-child {
    margin-top: 0;
}

.message:nth-child(even) {
    text-align: right;
    padding: 10px 0;
}

.message span {
    background-color: #4d6da9;
    color: #fff;
    border-radius: 20px;
    line-height: 20px;
    padding: 10px;
}

.message:nth-child(even) span {
    background-color: rgb(92, 156, 240);
}

.writingBlock {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 40px auto;
}